.dashboard-page {

}

#dashboard-text-heading {
	top: 160px;
	left: 52px;
	width: 1813px;
	height: 110px;
	/* UI Properties */
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

.dashboard-search-block {
	top: 160px;
	left: 52px;
	width: 1813px;
	height: 110px;
	/* UI Properties */
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

.dashboard-transaction-table {
	top: 300px;
	left: 52px;
	width: 1813px;
	height: 707px;
	/* UI Properties */
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}

