.login-header {
	top: 25px;
	left: 32px;
	width: 169px;
	height: 55px;
	/* UI Properties */
	opacity: 1;
}

#login-text {
	top: 247px;
	left: 1125px;
	width: 126px;
	height: 51px;
	/* UI Properties */
	text-align: center;
	font: normal normal bold 41px/52px Tondo;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

#login-text-credentials {
	top: 314px;
	left: 1125px;
	width: 370px;
	height: 31px;
	/* UI Properties */
	text-align: left;
	font: normal normal normal 25px/32px Tondo;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.login-midnav {
	top: 205px;
	left: 1078px;
	width: 729px;
	height: 705px;

    background-color: #FFFFFF;
    overflow: hidden;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #0000001A;
    opacity: 1;
}

/* Style the links inside the navigation bar */
.login-midnav a {
  float: left;
  color: #4D4F5C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: normal normal normal 15px/20px Lato;
  letter-spacing: 0px;
  color: #4D4F5C;
  opacity: 1;
}


/* Change the color of links on hover */
.login-midnav a:hover {
  background-color: #FFFFFF;
  color: black;
}



/* Right-aligned section inside the top navigation */
.login-midnav {
  float: right;
}

.login-page-image1 {
	top: 237px;
	left: 137px;
	width: 774px;
	height: 659px;
	/* UI Properties */
	background: transparent url('/assets/images/homepage1.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}


#auuid-label-input {
	top: 422px;
	left: 1161px;
	width: 579px;
	height: 106px;
	/* UI Properties */
	opacity: 1;
}

#auuid-label {
	top: 422px;
	left: 1161px;
	width: 159px;
	height: 22px;
	/* UI Properties */
	text-align: left;
	font: normal normal normal 18px/23px Tondo;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

#auuid-input {
	top: 472px;
	left: 1162px;
	width: 132px;
	height: 29px;
	text-align: left;
	font: normal normal normal 24px/30px Tondo;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}

#password-label-input {
	top: 578px;
	left: 1161px;
	width: 579px;
	height: 97px;
	/* UI Properties */
	opacity: 1;
}

#password-label {
	top: 578px;
	left: 1161px;
	width: 97px;
	height: 22px;
	/* UI Properties */
	text-align: left;
	font: normal normal normal 18px/23px Tondo;
	letter-spacing: 0px;
	color: #555454;
	opacity: 1;
}

#password-input {
	top: 625px;
	left: 1162px;
	width: 186px;
	height: 29px;
	/* UI Properties */
	text-align: left;
	font: normal normal normal 24px/30px Tondo;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}

#button-label {
	top: 783px;
	left: 1166px;
	width: 196px;
	height: 68px;
	/* UI Properties */
	background: #3F3D56 0% 0% no-repeat padding-box;
	border-radius: 81px;
	opacity: 1;
}

#button-text {
	text-align: center;
	font: normal normal normal 18px/23px Tondo;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}
